body{
    background-image: url(../images/table.png);
    background-size: cover;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
button{
    color: #016f32;
    background-color: goldenrod;
    border: none;
    width: 150px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 20px;
    font-weight: bold;
    
}

h1{
    color: goldenrod;
}

#message-el{
    font-style: italic;
}

.main{
    margin-top: 200px;

}